footer {
  // background-color: $col-header-footer;

  background-image: url(../imagenes/pixeles.jpg);
  background-size: cover;
  .flex-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    .sucursal {
      text-align: center;
      margin-top: 1rem;
      h2 {
        color: map-get($mapacolores, 2); //aplicando map-get//
        border: 2px solid;
        border-radius: 15px;
        margin-left: 3rem;
      }
      ul {
        list-style-type: none;
        li {
          @include body($colorTexto, 24px) //aplicando mixin //
;
        }
      }
    }
    .imagen-footer {
      margin-left: 0;
      animation-name: girar;
      animation-duration: 3s;
      animation-iteration-count: infinite;

      img {
        width: 120px;
      }
    }

    @keyframes girar {
      0% {
        transform: rotate(72deg);
      }

      25% {
        transform: rotate(144deg);
      }

      50% {
        transform: rotate(216deg);
      }
      75% {
        transform: rotate(288deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .iconos {
      img {
        width: 50px;
        margin-right: 10px;
        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}
