@mixin body($colorLetra, $tamanoTexto) {
  color: $colorTexto;
  font-size: $tamanoTexto;
}

header {
  //background-color: $col-header-footer;

  background-image: url(../imagenes/pixeles.jpg);
  background-size: cover;
  width: 100%;
  .container-fluid {
    font-size: 24px;
    img {
      width: 150px;
    }
    .navbar-toggler-icon {
      background-color: whitesmoke;
    }

    .collapse {
      justify-content: flex-end !important;

      .navbar-nav {
        gap: 30px;

        a {
          color: whitesmoke !important;
        }
      }
    }
  }
}
