@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E9D431;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-image: url(../imagenes/pixeles.jpg);
  background-size: cover;
  width: 100%;
}

header .container-fluid {
  font-size: 24px;
}

header .container-fluid img {
  width: 150px;
}

header .container-fluid .navbar-toggler-icon {
  background-color: whitesmoke;
}

header .container-fluid .collapse {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

header .container-fluid .collapse .navbar-nav {
  gap: 30px;
}

header .container-fluid .collapse .navbar-nav a {
  color: whitesmoke !important;
}

main {
  background-color: #E9D431;
}

.main, .main-index, .main-bebidas, main, .main-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E9D431;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 20px;
}

.main-index {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-index .banner img {
  width: 600px;
}

.main-index iframe {
  width: 450px;
  height: 250px;
  border: 6px solid black;
}

.main-bebidas {
  display: block;
}

.main-bebidas #contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  text-align: center;
  /*background-image: url("fondos gaseosas/fondo1.jpg");
    background-size: cover;*/
  background-color: #e9d431;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-bebidas #contenedor h3 {
  margin-top: 1rem;
}

.main-bebidas #contenedor div {
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: 1rem;
  width: 250px;
  background-color: #e9d431;
}

.main-bebidas #contenedor div:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  background-color: #7e710e;
}

.main-bebidas #contenedor div img {
  width: 150px;
  margin-top: 5px;
}

.main-bebidas #contenedor div button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #e9d431 !important;
  border: 3px solid #000 !important;
  color: #000 !important;
}

.card {
  width: 300px !important;
  background-color: #e9d431;
  border: 0;
  text-align: center;
  margin-left: 1.5rem;
  font-size: 16px;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 400ms;
  transition: 400ms;
  background-color: #7e710e;
}

.card img {
  margin-left: 15%;
  width: 200px !important;
  padding: 1rem;
}

.card button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #e9d431 !important;
  border: 3px solid #000 !important;
  color: #000 !important;
}

main {
  display: block;
}

main #ubicacionFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #ubicacionFlex h2 {
  margin-top: 2rem;
  color: #000;
  border: 2px solid;
  border-radius: 15px;
}

.main-contacto {
  display: block;
}

.main-contacto #centrarFormulario {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-contacto #centrarFormulario .contacto {
  border: 3px solid black;
  width: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: gainsboro;
  text-align: center;
}

.main-contacto #centrarFormulario .contacto button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #e9d431 !important;
  border: 3px solid #000 !important;
  color: #000 !important;
}

footer {
  background-image: url(../imagenes/pixeles.jpg);
  background-size: cover;
}

footer .flex-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .flex-1 .sucursal {
  text-align: center;
  margin-top: 1rem;
}

footer .flex-1 .sucursal h2 {
  color: red;
  border: 2px solid;
  border-radius: 15px;
  margin-left: 3rem;
}

footer .flex-1 .sucursal ul {
  list-style-type: none;
}

footer .flex-1 .sucursal ul li {
  color: white;
  font-size: 24px;
}

footer .flex-1 .imagen-footer {
  margin-left: 0;
  -webkit-animation-name: girar;
          animation-name: girar;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

footer .flex-1 .imagen-footer img {
  width: 120px;
}

@-webkit-keyframes girar {
  0% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  25% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  50% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  75% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes girar {
  0% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  25% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  50% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  75% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer .flex-1 .iconos img {
  width: 50px;
  margin-right: 10px;
}

footer .flex-1 .iconos img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media (max-width: 420px) {
  .flex-1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .flex-1 .imagen-footer {
    display: none;
  }
  .flex-1 .iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-index {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 150px;
  }
  .main-index .banner img {
    width: 250px;
    margin-bottom: 35px;
  }
  .main-index .video {
    width: 225px;
    height: 125px;
  }
  .main-bebidas {
    display: block;
  }
  .main-bebidas #contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-bebidas #contenedor div {
    margin-bottom: 1rem;
    width: 200px;
  }
  .main-bebidas #contenedor div img {
    width: 100px;
    margin-top: 5px;
  }
  .main-bebidas #contenedor div button {
    margin-top: 12px;
  }
  .card {
    text-align: center;
    background-color: #e9d431;
    color: black;
  }
  .card img {
    margin-left: 16.5%;
  }
  #centrarFormulario {
    padding: 1rem;
  }
  .mapa {
    width: 350px;
    height: 200px;
  }
}
/*# sourceMappingURL=stylo.css.map */