/* @import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@media screen and (max-width: 420px) { */
/* .carrousel {
    width: 300px;
  }
  #cajaFlex,
  .main-index,
  .flex-1 {
    display: flex;
    flex-direction: column;
  }

  .banner {
    width: 250px;
    margin-left: 30%;
  }
  .video {
    width: 250px;
    height: 250px;
    margin-left: 30%;
  } */
/* 
  .imagen-footer {
    display: none;
  }

  .sucursal {
    text-align: justify;
    margin-top: 10px;
  } */

/*PAGINA BEBIDAS */
/* 
  #contenedor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #contenedor img {
    width: 100px;
    margin-top: 5px;
  }

  #contenedor div {
    transition: 1s;

    margin-bottom: 1rem;
    width: 200px;
  }

  button {
    margin-top: 12px;
  }
   */

/*PAGINA HAMBURGUESA */
/*

  .fotos {
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);
    justify-content: center;
    row-gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }
*/

/* .card img {
    margin-left: 25%;
  }

  .foto__1 {
    display: none;
  }
  .foto__2 {
    display: none;
  }
  .foto__3 {
    display: none;
  }
  .foto__4 {
    display: none;
  }
  */

/*PAGINA UBICAION */

/* .mapa {
    width: 100%;
    height: 230px;
  }
  .informacion {
    margin-top: 2rem;
  } */

/*PAGINA CONTACTO*/
