@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
/*
* {
  padding: 0;
  margin: 0;
  
}
*/
/*
body {
  background-color:#E9D431;
}*/

/*
.car {
  width: 100%;
  display: flex;
  justify-content: center;
}*/
/*
.carrousel {
  width: 300px;
  margin-top: 2rem;
  transform: scale(4,1);
}*/

/*main{

  height: 600px;

}*/

/*a {
  text-decoration: none;
  color: brown;
}*/

/*nav ul {

gap: 6rem;
list-style-type: none;
margin-right: 6rem;
}*/

/* PAGINA HAMBURGUESA */
/*
.fotos img {
  width: 150px;
}

.fotos img:hover {
  transform: scale(1.2, 1.2);
}*/

/*
.fotos {
 
  
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  */
/*text-align: center;
  }*/

/*
.fotos p {
  border: 1px solid brown;
}

.fotos h3 {
  margin-top: 1rem;
}
*/

/* comentario media queris */

/*nav ul {
  margin-left: 5rem;
  gap: 1rem;
  flex-direction: row;
  
}*/

/*header {
  width: 100%;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}
 
  /*.logo {
  width: 85px;
}
*/

header {
  background-color: #000;

  width: 100%;
}

.container-fluid {
  font-size: 24px;
}

.container-fluid img {
  width: 150px;
}

.collapse {
  justify-content: flex-end !important;
}
a {
  color: whitesmoke !important;
}

.navbar-nav {
  gap: 30px;
}

/* main {
  background-color:#E9D431;
} */

.navbar-toggler-icon {
  background-color: whitesmoke;
}

/* .main-index {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #E9D431;
} */

.banner img {
  width: 100%;
}

.banner {
  width: 600px;
}

.video {
  width: 600px;
  height: 300px;
  border: 5px solid chocolate;
}

footer {
  background-color: #000;
}

.imagen-footer img {
  width: 100%;
}

.imagen-footer {
  width: 150px;
}

li {
  color: brown;
}

h2 {
  color: brown;
  border: 2px solid;
  border-radius: 15px;
}

.sucursal ul {
  list-style-type: none;
}

.sucursal {
  text-align: center;
  margin-top: 1rem;
}

#cajaFlex,
.flex-1 {
  display: flex;
}

#cajaFlex {
  flex-direction: column;
}

main {
  align-items: center;
  justify-content: space-evenly;
}

.flex-1 {
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.imagen-footer {
  width: 100px;
  margin-left: 0;
  animation-name: girar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes girar {
  0% {
    transform: rotate(72deg);
  }

  25% {
    transform: rotate(144deg);
  }

  50% {
    transform: rotate(216deg);
  }
  75% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.iconos img {
  width: 50px;
  margin-right: 10px;
}
/*
.iconos img:hover {

  transform: scale(1.2 , 1.2);
}*/

/*PAGINA CONTACTOS*/

.contacto {
  border: 3px solid black;
  width: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: gainsboro;
}

#centrarFormulario {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* PAGINA BEBIDAS */

#contenedor img {
  width: 150px;
  margin-top: 5px;
}

#contenedor div {
  transition: 1s;

  margin-bottom: 1rem;
  width: 250px;
  background-color: #e9d431;
}

#contenedor div:hover {
  transform: scale(0.9, 0.9);
  background-color: #7e710e;
}

h3 {
  margin-top: 1rem;
}

button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #e9d431 !important;
  border: 3px solid #000 !important;
  color: #000 !important;
}

#contenedor {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  text-align: center;
  /*background-image: url("fondos gaseosas/fondo1.jpg");
  background-size: cover;*/
  background-color: #e9d431;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.colorsito {
  background-color: black;
}

/* PAGINA HAMBURGUESA */

/*
.fondo-negro{
  background-color: black;
}*/

/*.fotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  margin: 2rem;
  
 
}*/
/*
.card {
  text-align: center;
  transition: 1s;
}

.card:hover {
  transform: scale(0.9, 0.9);
}
*/

.card {
  width: 300px !important;
  background-color: #e9d431;
  border: 0;
  text-align: center;
  margin: 3rem !important;
}

.card img {
  margin-left: 15%;
  width: 200px !important;
  padding: 1rem;
}
.card:hover {
  transform: scale(1.1);
  transition: 400ms;
  background-color: #7e710e;
}

/* PAGINA UBICACION */

#ubicacionFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

.informacion h2 {
  color: #000;
}

@media screen and (max-width: 420px) {
  .carrousel {
    width: 300px;
  }
  #cajaFlex,
  .main-index,
  .flex-1 {
    display: flex;
    flex-direction: column;
  }

  .banner {
    width: 250px;
    margin-left: 30%;
  }
  .video {
    width: 250px;
    height: 250px;
    margin-left: 30%;
  }

  .imagen-footer {
    display: none;
  }

  .sucursal {
    text-align: justify;
    margin-top: 10px;
  }

  /*PAGINA BEBIDAS */

  #contenedor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #contenedor img {
    width: 100px;
    margin-top: 5px;
  }

  #contenedor div {
    transition: 1s;

    margin-bottom: 1rem;
    width: 200px;
  }

  button {
    margin-top: 12px;
  }

  /*PAGINA HAMBURGUESA */
  /*

  .fotos {
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);
    justify-content: center;
    row-gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }
*/
  .card {
    text-align: center;

    background-color: #e9d431;
    color: black;
  }

  .card img {
    margin-left: 25%;
  }

  .foto__1 {
    display: none;
  }
  .foto__2 {
    display: none;
  }
  .foto__3 {
    display: none;
  }
  .foto__4 {
    display: none;
  }
  */
  /*PAGINA UBICAION */

  .mapa {
    width: 100%;
    height: 230px;
  }
  .informacion {
    margin-top: 2rem;
  }

  /*PAGINA CONTACTO*/
  .contacto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 300px;
  }
}
