@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

* {
  padding: 0;
  margin: 0;
}

header{
  background-color: chocolate;
}
.container-fluid{

  background-color: chocolate !important;
  
  font-size: 24px;
  

}

.container-fluid img {

  width: 150px;
}


.collapse{

  justify-content:flex-end !important;
  
}
a{
  color: brown !important;
}

.navbar-nav{

  gap: 30px;

}



/*main{

  height: 600px;

}*/

.main-index{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}



.banner img {

  width: 100%;
}

.banner {

  width: 600px;
}

.video {
  width: 600px;
  height: 300px;
  border: 5px solid chocolate;
}

footer{
  background-color: chocolate;
}


.imagen-footer img {

  width: 100%;
}

.imagen-footer {

  width: 150px;
}
/*a {
  text-decoration: none;
  color: brown;
}*/

 /*nav ul {

gap: 6rem;
list-style-type: none;
margin-right: 6rem;
}*/
li{
  color: brown;

}

h2{
  color: brown;
  border: 2px solid;
  border-radius: 15px;
}

.sucursal ul {

  
 list-style-type: none;
}

.sucursal {

  text-align: center;
}





#cajaFlex,
 .flex-1 {

  display: flex;
  
}

#cajaFlex{
  flex-direction: column;
}


main {

  
  align-items: center;
  justify-content: space-evenly;
}



.flex-1 {

  justify-content: space-around;
 align-items: center;
}


.imagen-footer{
width: 100px;
margin-left: 0;
animation-name: girar;
animation-duration: 3s;
animation-iteration-count: infinite;

}

@keyframes girar {

0% {

transform: rotate(72deg);

}

25%{
 transform: rotate(144deg);

}

50%{

transform: rotate(216deg);

}
75% {

transform: rotate(288deg);

}
100%{

transform: rotate(360deg);


}

}





/*PAGINA CONTACTOS*/

.contacto {

 
  border: 3px solid black;
  background-color:rgb(165, 91, 38);
  margin: 3rem;

}


/* PAGINA BEBIDAS */


#contenedor img{

  width: 100px;
}
 #contenedor img:hover {

  transform: scale(2,2);

 }

#contenedor,
h3,
p {
  background-color: rgba(255, 255, 255, 0.734);
}

button {
  margin-top: 2rem;
}


#contenedor {


  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: auto auto ;
  text-align: center;
  background-image: url("fondos gaseosas/fondo1.jpg");
  background-size: cover;
  align-items: center;
  justify-content: space-evenly;

}



/* PAGINA HAMBURGUESA */


.fotos img {
  width: 150px;
}

.fotos img:hover{

  transform: scale(1,1);
  margin: 1rem;
  
}

.fotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.fotos p {
  border: 1px solid brown;
}

.fotos h3 {

  margin-top: 1rem;

}


/* PAGINA UBICACION */


.ubicacionFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




@media  screen and (max-width: 420px){

  #cajaFlex,
  .main-index,
 .flex-1 {
 
   display: flex;
   flex-direction: column;
   
   
 }

 /*nav ul {
  margin-left: 5rem;
  gap: 1rem;
  flex-direction: row;
  
}*/

 /*header {
  width: 100%;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}
 */
/*.logo {
  width: 85px;
}*/

.banner {
width: 250px;

}
.video {

    width: 250px;
    height: 250px;
}

.flex-1 {

  flex-direction: row;
  margin-top: 2rem;
}
.imagen-footer {

  display: none;
}


/*PAGINA HAMBURGUESA */


.fotos img {
  width: 75px;
}

.fotos {

  grid-template-columns:  auto;
  grid-template-rows: repeat(6, auto);
  row-gap: 1px;
    
  }

  .foto__1{
    display: none;
  }
  .foto__2{
    display: none;
  }
  .foto__3 {
    display: none;
  }
  .foto__4 {
    display: none;
  }

  /*PAGINA UBICAION */

  .ubicacionFlex {
    flex-direction: column;
  }

  .mapa {

    width: 400px;
    height: 230px;
  }
  .informacion {
margin-top: 2rem;
}

/*PAGINA CONTACTO*/
.contacto {
   margin-top: 0rem;
}

}